<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Schwul</title>
    <meta name="viewport" content="width=initial-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <style>
    .collapsible-body {
        padding: 0;
    }
    </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">Schwul</a>
            <a href="" class="button-collapse" data-activates="mobile-col">
                <i class="material-icons">menu</i>
            </a>
            <ul class="side-nav" id="mobile-col">
                <li><a href="#">上映情報</a></li>
                <li><a href="#">アニメDB</a></li>
                {% if request.user.is_authenticated %}
                <li class="no-padding"><ul class="collapsible collapsible-accordion"><li>
                    <a class="collapsible-header">
                        {{ request.user.username }}
                        <i class="material-icons">arrow_drop_down</i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#">プロフィール</a></li>
                            <li><a href="#">設定</a></li>
                            <li><a href="{% url 'logout' %}">ログアウト</a></li>
                        </ul>
                    </div>
                </li></ul></li>
                {% else %}
                <li><a href="{% url 'social:begin' 'twitter' %}">Twitterログイン</a></li>
                {% endif %}
            </ul>
            <ul class="left hide-on-med-and-down">
                <li><a href="#">上映情報</a></li>
                <li><a href="#">アニメDB</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                {% if request.user.is_authenticated %}
                <li><a href="" class="dropdown-button" data-activates="dropdown-user">
                    <i class="material-icons left">person</i>
                    {{ request.user.username }}
                    <i class="material-icons right">arrow_drop_down</i>
                </a></li>
                <ul class="dropdown-content" id="dropdown-user">
                    <li><a href="#">プロフィール</a></li>
                    <li><a href="#">設定</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}">ログアウト</a></li>
                </ul>
                {% else %}
                <li><a href="{% url 'social:begin' 'twitter' %}">Twitterログイン</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}

    <script>
    $(".button-collapse").sideNav({
        draggable: true
    });
    </script>
</body>
</html>
