{% extends 'schwul/base.html' %}

{% block body %}
<div class="valign-wrapper" style="height:75vh;min-height:300px;background:url('https://68.media.tumblr.com/15fe810f2fbf349b40f10d59309df74b/tumblr_ok0148mffi1u21ng6o3_500.gif') no-repeat center center;background-size:cover;">
  <h5 class="valign center-align white-text" style="width:100%;">さぁ、アニメを観よう</h5>
</div>

<div class="container">
  <h3>経験し得ない日常を垣間見る</h3>
  <p>アニメ、それは未来大生（一部を除く）にとって究極の癒やしである。画面の向こうの彼、彼女らは美しく輝き、そこには我々の経験しえない青春が、冒険が、日常が待っている。</p>
  <p style="font-weight:bold;">さぁ、アニメを観よう。</p>

  <h3>利用方法</h3>
  <div class="row">
    <div class="col s12 m4 center promo">
      <i class="material-icons">search</i>
      <h5>探す</h5>
      <p class="light">アニメDBで観たいアニメを物色します。</p>
    </div>
    <div class="col s12 m4 center promo">
      <i class="material-icons">assignment_turned_in</i>
      <h5>予約する</h5>
      <p class="light">予約し、当日会場に行って皆んなで観ます。</p>
    </div>
    <div class="col s12 m4 center promo">
      <i class="material-icons">thumbs_up_down</i>
      <h5>共有する</h5>
      <p class="light">感想を書き込んで、皆んなと共有します。</p>
    </div>
  </div>
</div>

<style>
h3:not(:first-child) {
  margin-top: 70px;
}
.promo i {
  font-size: 5em;
}
</style>
{% endblock %}
